        <div>
            <h5 *ngIf="_authService.AuthUser()!=null && _authService.AuthUser().type!=UserType.Reader"><i class="material-icons" id="addQuote-btn" (click)="openInsertDialog()">library_add</i></h5><br>
            <div class="col-md-12" *ngFor="let quote of _quotesApiService.quotes">
            <div *ngIf="_authService.AuthUser()!=null && _authService.AuthUser().type==UserType.Reader;else editor_content">
                <mat-card class="matCard">
                    <mat-card-content>
                     <mat-card-title ><q>{{quote.Quote}}</q></mat-card-title>
                    </mat-card-content>
                <mat-card-subtitle> ~ {{quote.Attributed_to}}</mat-card-subtitle>
                    <mat-card-subtitle><strong>Source : </strong>{{quote.Source}} <p class="pull-right">{{quote.Year}}</p></mat-card-subtitle>
                </mat-card>
            </div>    
            <ng-template #editor_content>
                    <mat-card  (click)="openEditDialog(quote)" class="matCard">
                            <mat-card-content>
                              <mat-card-title><q>{{quote.Quote}}</q></mat-card-title>
                            </mat-card-content>
                            <mat-card-subtitle>~ {{quote.Attributed_to}}</mat-card-subtitle>
                            <mat-card-subtitle><strong>Source : </strong>{{quote.Source}} <p class="pull-right">{{quote.Year}}</p></mat-card-subtitle>
                            
                    </mat-card>
            </ng-template>
                <br>
            </div>
        </div>
