.main-items {
    margin-top: 4%;
    transition: 0.5s;
    margin-left: 180px;
    margin-right:1%
}
#addUser-btn{
    font-size:25pt;
    cursor: pointer
}
#addUser-btn:hover{
    color: blue
}
#tableContent:hover{
    cursor:pointer
}